@import "fonts";
// @import "/src/assets/other/rule.scss";
@import "vars";



*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: $white;
    font-size : 21px;
    color     : white;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

@import "blocks/header.scss";
@import "blocks/section__slider.scss";
@import "blocks/section__moscow.scss";
@import "blocks/section__aside.scss";
@import "blocks/social.scss";
@import "blocks/section__mailing-lists.scss";
@import "blocks/footer.scss";
@import "media__adaptive-site/media-min-1200px.scss";
@import "media__adaptive-site/media-min-768-1199px.scss";
@import "media__adaptive-site/media-min-641.scss"
