.section__shop {
    max-width: 1920px;
    margin: 0 auto;
    background: #E5E5E5;


    .wrapper__section {
        max-width: 1110px;
        margin: 0 auto;

        .shop__subtitle {
            font-family: "Gilroy-Regular";
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 29px;
            color: #333333;
        }

        .title__block {
            text-align: center;
            padding-top: 100px;
            color: #333333;




            .shop__title {
                font-family: 'Noto Serif';
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 41px;
                margin-top: 17px;
            }
        }


        .inner__shop-blocks {
            max-width: 1110px;
            padding-bottom: 116px;
            margin-top: 58px;

            .list__shop {
                display: flex;
                justify-content: space-between;
                padding: 0;

                .button__shop {
                    width: 165px;
                    height: 60x;
                    color: black;
                    display: block;
                    margin-left: 24px;
                    border: 1px solid gray;
                    padding: 20px 37px 20px 36px;
                    text-transform: uppercase;
                    @include Gilory__500;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    letter-spacing: 0.1em;
                    cursor: pointer;
                    animation-name: sheen;




                    &:first-child {
                        margin-left: 0;
                    }

                    &:hover {
                        transform: translate(-6%, -6%);
                        transition: .3s ease;
                        background: #333333;
                        color: white;

                    }

                }

                .button__shop-five {
                    padding: 20px 0 20px 0;
                }
            }



            .cards__slider {
                margin-top: 55px;
                max-width: 1110px;

                .list__slider-pic {
                    display: flex;
                    padding: 0;
                    margin-bottom: 0;
                    margin-top: 0;
                    justify-content: space-between;

                    flex-wrap: wrap;
                    



                    .pic__slider {
                        display: block;
                        max-width: 350px;
                        max-height: 280px;

                        position: relative;

                        &:hover {
                            transform: scale(1.05);
                            transition: .4s;
                           
                        }
                    }

                    .item__slider-pic {
                        .title__slider-pic {
                            position: absolute;
                            z-index: 5;
                            margin-left: 122px;
                            margin-top: -60px;
                            @include Gilory__500;
                            font-size: 24px;
                            line-height: 28px;

                            letter-spacing: 0.1em;
                            text-transform: uppercase;

                        }

                        margin-bottom: 30px;
                        max-width: 350px;
                        max-height: 280px;

                        &:nth-child(1n+4) {
                            margin-bottom: 0;
                        }

                    }


                }
            }

            .slider__off {
                display: none;
            }

            .slider__on {
                display: block;
            }

           

            .active__slider {
                background-color: green;
            }
        }
    }




}