<footer class="footer__site">
    <div class="footer__wrapper">
        <div class="footer__sections">
            <h3 class="title__sections-footer">
                Полезные ссылки
            </h3>
            <ul class="list__footer">
                <li class="item__footer"><a href="#0" class="link__footer">Доставка</a></li>
                <li class="item__footer"><a href="#0" class="link__footer">Оплата </a></li>
                <li class="item__footer"><a href="#0" class="link__footer">Акции</a></li>
                <li class="item__footer"><a href="#0" class="link__footer">Политика конфиденциальности</a></li>
            </ul>

        </div>

        <div class="footer__sections">
            <h3 class="title__sections-footer">
                оплата
            </h3>
            <p class="desc__pay-footer">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
            </p>

            <div class="pic__footer-pay">
                <a href="#0" class="link__pay-card">
                    <img src="assets/images/svg/visa__pay.svg" alt="" class="footer__pic-pay"></a>
                <a href="#0" class="link__pay-card">
                    <img src="assets/images/svg/master-card.svg" alt="" class="footer__pic-pay">
                </a>
            </div>
        </div>


        <div class="footer__sections">
            <h3 class="title__sections-footer">
                контакты
            </h3>
            <div class="contacs__footer">
                <a href="#0" class="link__contct">8 (812) 234-56-55</a>
                <a href="#0" class="link__contct">8 (812) 234-56-55</a>
                <a href="#0" class="link__contct  link__contct-email">ojjo@ojjo.ru</a>
            </div>
        </div>

        <div class="footer__sections">
            <h3 class="title__sections-footer">
                социальные сети
            </h3>
            <p class="desc__pay-footer">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
            </p>
            <div class="footer__icons-social">
                <ul class="list__icon-social">
                    <li class="item__sosial">
                        <a href="#0" class="link__icon-social">
                            <img src="/assets/images/svg/social-footer-icons/YouTube-icons.svg" alt=""
                                class="social__icon-footer ">
                        </a>

                    </li>
                    <li class="item__sosial">
                        <a href="#0" class="link__icon-social">
                            <img src="/assets/images/svg/social-footer-icons/VK-icons.svg" alt=""
                                class="social__icon-foote Vk__left">
                        </a>
                    </li>
                    <li class="item__sosial">
                        <a href="#0" class="link__icon-social">
                            <img src="/assets/images/svg/social-footer-icons/Facebook-icons.svg" alt=""
                                class="social__icon-footer  facebook__left">
                        </a>
                    </li>
                    <li class="item__sosial">
                        <a href="#0" class="link__icon-social">
                            <img src="/assets/images/svg/social-footer-icons/telegram.svg" alt=""
                                class="social__icon-footer telegram__left">
                        </a>
                    </li>
                    <li class="item__sosial"><a href="#0" class="link__icon-social"><img
                                src="/assets/images/svg/social-footer-icons/ecto-icons.svg" alt=""
                                class="social__icon-footer elemnt__left">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="footer__copyright">
        <ul class="list__copyright">
            <li class="item__copyright"><a href="#0" class="link__copyright">(c) 2020 OJJO jewelry</a></li>
            <li class="item__copyright"><a href="#0" class="link__copyright">Договор публичной офферты</a></li>
            <li class="item__copyright"><a href="#0" class="link__copyright">Контрагентам</a></li>
            <li class="item__copyright"><a href="#0" class="link__copyright figma__line">Сделано Figma.info</a></li>
        </ul>
    </div>



</footer>