<header class="header">
    <div class="header__wrapper">
        <nav class="nav">
            <ul class="list__menu">
                <li class="list__menu "><a href="#0" class="link__menu link__menu-first">Контрагентам</a></li>
                <li class="list__menu"><a href="#0" class="link__menu">Дизайнерам</a></li>
                <li class="list__menu"><a href="#0" class="link__menu">Вакансии</a></li>
            </ul>

        </nav>
        <img src="assets/images/svg/OJJO.svg" alt="logo" class="logo__menu">

        <div class="menu__registr">
            <a class="button__search__menu">
                Поиск
            </a>

            <div class="personal__regist">
                <div class="registr__accounts">
                    <a href="#0" class="link__entrance">Вход</a>
                    /
                    <a href="#0" class="link__registr">Регистрация</a>
                </div>
                <div class="personal__block">
                    <a href="#0" class="link__personal">
                        <img src="/assets/images/svg/Vector (1).svg" alt="">
                    </a>

                    <a href="#0" class="link__personal-like">
                        <img src="/assets/images/svg/Vector (2).svg" alt="">
                    </a>

                </div>

            </div>
        </div>
    </div>
    <div class="header__title-block">
        <h1 class="header__title">
            Долго, дорого, богато!
        </h1>

        <button class="header__catalog" type="button">
            каталог изделий
        </button>
    </div>


    <div class="header__cards-block">
        <div class="inner__header-cards">
            <a href="" class="link__cards-header">
                <img src="/assets/images/svg/Rectangle 2.svg" alt="" class="header__card-pic">
            </a>

            <a href="" class="link__cards-header">
                <img src="/assets/images/svg/Rectangle 2.svg" alt="" class="header__card-pic">
            </a>
            <a href="" class="link__cards-header">
                <img src="/assets/images/svg/Rectangle 2.svg" alt="" class="header__card-pic">
            </a>
            <a href="" class="link__cards-header">
                <img src="/assets/images/svg/Rectangle 2.svg" alt="" class="header__card-pic">
            </a>
            <a href="" class="link__cards-header">
                <img src="/assets/images/svg/Rectangle 2.svg" alt="" class="header__card-pic">
            </a>
            <a href="" class="link__cards-header">
                <img src="/assets/images/svg/Rectangle 2.svg" alt="" class="header__card-pic">
            </a>




        </div>
    </div>
</header>