<section class="section__mailing">
    <div class="wrapper__mailing">
        <div class="title__block">
            <span class="sub__title-mailing">
                Полезные советы и персональный предложения
            </span>
            <h3 class="title__mailing">
                Эксклюзивная рассылка
            </h3>
        </div>


        <div class="block__form">
            <ul class="list__mailing">
                <li class="item__mailing">
                    Личный менеджер
                </li>
                <li class="item__mailing">
                    Доставка и оформление

                </li>
                <li class="item__mailing">
                    Индивидуальный дизайн

                </li>
            </ul>

            <div class="wrapper__form">
                <form action="" class="form__mailing">
                    <input type="email" placeholder="Ваш e-mail" class="input__mailing">
                    <button class="button__mailing">
                        Отправить
                    </button>
                </form>
                
            </div>
        </div>
    </div>
</section>