<section class="section__shop">
    <div class="wrapper__section">
        <div class="title__block">
            <span class="shop__subtitle">
                К мероприятиям
            </span>
            <h2 class="shop__title">
                Настоящая красота здесь!

            </h2>
        </div>

        <div class="inner__shop-blocks">
            <ul class="list__shop">
                <li class="item__shop">

                    <button href="#0" class="button__shop  button__wedding">
                        Свадьба
                    </button>
                </li>
                <li class="item__shop">
                    <button href="#0" class="button__shop  button__husband">
                        мужу
                        </и>
                </li>

                <li class="item__shop">

                    <button href="#0" class="button__shop  button__wife">
                        жене
                    </button>
                </li>

                <li class="item__shop">
                    <button href="#0" class="button__shop  button__partner">
                        партнеру
                    </button>
                </li>

                <li class="item__shop">
                    <button href="#0" class="button__shop   button__shop-five  button__collection">
                        коллекции
                    </button>
                </li>

                <li class="item__shop">
                    <button href="#0" class="button__shop button__rare">
                        редкость
                    </button>
                </li>
            </ul>

            <div class="cards__slider">
                <ul class="list__slider-pic">
                    <li class="item__slider-pic">
                        <a href="" class="link__slider-pic">

                            <img src="/assets/images/slider__1.png" alt="" class="pic__slider">
                        </a>

                        <h3 class="title__slider-pic">
                            Кольца
                        </h3>
                    </li>
                    <li class="item__slider-pic">
                        <a href="" class="link__slider-pic">

                            <img src="/assets/images/slider__2.png" alt="" class="pic__slider">

                        </a>
                        <h3 class="title__slider-pic">
                            серьги
                        </h3>
                    </li>
                    <li class="item__slider-pic">
                        <a href="" class="link__slider-pic">

                            <img src="/assets/images/slider__3.png" alt="" class="pic__slider">

                        </a>
                        <h3 class="title__slider-pic">
                            подвески
                        </h3>
                    </li>
                    <li class="item__slider-pic">
                        <a href="" class="link__slider-pic">
                            <img src="/assets/images/slider__4.png" alt="" class="pic__slider">

                        </a>
                        <h3 class="title__slider-pic">
                            запонки
                        </h3>
                    </li>
                    <li class="item__slider-pic">
                        <a href="" class="link__slider-pic">

                            <img src="/assets/images/slider__5.png" alt="" class="pic__slider">
                        </a>
                        <h3 class="title__slider-pic">
                            браслеты
                        </h3>
                    </li>
                    <li class="item__slider-pic">
                        <a href="" class="link__slider-pic">

                            <img src="/assets/images/slider__6.png" alt="" class="pic__slider">
                        </a>
                        <h3 class="title__slider-pic">
                            часы
                        </h3>
                    </li>
                </ul>
            </div>

            <div class="cards__slider   active__slider slider__off">
                <ul class="list__slider-pic">
                    <li class="item__slider-pic">
                        <a href="" class="link__slider-pic">

                            <img src="/assets/images/slider__1.png" alt="" class="pic__slider">
                        </a>

                        <h3 class="title__slider-pic">
                            Кольца
                        </h3>
                    </li>
                    <li class="item__slider-pic">
                        <a href="" class="link__slider-pic">

                            <img src="/assets/images/slider__2.png" alt="" class="pic__slider">

                        </a>
                        <h3 class="title__slider-pic">
                            серьги
                        </h3>
                    </li>
                    <li class="item__slider-pic">
                        <a href="" class="link__slider-pic">

                            <img src="/assets/images/slider__3.png" alt="" class="pic__slider">

                        </a>
                        <h3 class="title__slider-pic">
                            подвески
                        </h3>
                    </li>
                    <li class="item__slider-pic">
                        <a href="" class="link__slider-pic">
                            <img src="/assets/images/slider__4.png" alt="" class="pic__slider">

                        </a>
                        <h3 class="title__slider-pic">
                            запонки
                        </h3>
                    </li>
                    <li class="item__slider-pic">
                        <a href="" class="link__slider-pic">

                            <img src="/assets/images/slider__5.png" alt="" class="pic__slider">
                        </a>
                        <h3 class="title__slider-pic">
                            браслеты
                        </h3>
                    </li>
                    <li class="item__slider-pic">
                        <a href="" class="link__slider-pic">

                            <img src="/assets/images/slider__6.png" alt="" class="pic__slider">
                        </a>
                        <h3 class="title__slider-pic">
                            часы
                        </h3>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</section>