@media (min-width:1200) {


    body{
        min-width: 1200px;
        margin-left: 0;
        margin-top: 0;
    }

    .header__wrapper {
        max-width: 1110px;
        margin: 0 auto;

    }

    

    .header__cards-block {
        margin: 0 auto;
    }

    .inner__header-cards{
       
    }

}